doctype html
html(lang="en")
    head
        title Room #{roomId}
        meta(name="roomId" content=roomId)
        meta(name="nickname" content=nickname)
        script(src="/scripts.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    body(onload="initMessages()")
        h1.welcome.
            Welcome to Room #{roomId}, #{nickname}!
        div.container()
            ul#messages
        form(method="post", action="javascript:void(0);")
            p.
                Enter your message:
            input#new-message(type="text", name="content")
            input(type="button", name="send", value="send", onclick="sendMessage()")
        span#info
        |
